[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
stable-baselines3 = "*"
tensorboard = "*"
optuna = "*"
joblib = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
